# Экспорт и импорт данных

1. Подготовить данные для построения модели.
2. Сохранить готовые данные в: CSV, HDF5

In [1]:
import pandas as pd
import numpy as np

from os import getcwd
from os.path import getsize
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar
from scipy.interpolate import interp1d
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

from core.reduce_mem_usage import reduce_mem_usage

## Загрузка данных

In [2]:
buildings = pd.read_csv("../data/buildings.csv")
weather = pd.read_csv("../data/weather.csv")
energy = pd.read_csv("../data/train.0.zip")

## Взять 20 зданий, объединить, оптимизировать

In [3]:
weather = weather[weather["site_id"] == 0]
energy = energy[energy["building_id"] < 20]
energy = pd.merge(
    left=energy,
    right=buildings,
    how="left",
    left_on="building_id",
    right_on="building_id",
)
del buildings

## Интерполяция значений

In [4]:
weather["precip_depth_1_hr"] = weather["precip_depth_1_hr"].apply(lambda x: x if x> 0 else 0)
interpolate_columns = [
    "air_temperature",
    "dew_temperature",
    "cloud_coverage",
    "wind_speed",
    "wind_direction",
    "precip_depth_1_hr",
    "sea_level_pressure",
]

for col in interpolate_columns:
    weather[col] = weather[col].interpolate(limit_direction="both", kind="cubic")

## Обогащение данных: погода

In [5]:
weather["air_temperature_diff_1"] = weather["air_temperature"].diff()
weather.at[0, "air_temperature_diff_1"] = weather.at[1, "air_temperature_diff_1"]
weather["air_temperature_diff_2"] = weather["air_temperature_diff_1"].diff()
weather.at[0, "air_temperature_diff_2"] = weather.at[1, "air_temperature_diff_2"]

## Объединение погодных данных

In [6]:
energy = energy.set_index(["timestamp", "site_id"])
weather = weather.set_index(["timestamp", "site_id"])
energy = pd.merge(
    left=energy,
    right=weather,
    how="left",
    left_index=True,
    right_index=True,
)
energy.reset_index(inplace=True)
energy = energy.drop(
    columns=[
        "meter",
        "site_id",
        "year_built",
        "square_feet",
        "floor_count",
    ], 
    axis=1
)
del weather
energy = reduce_mem_usage(energy)
print(energy.info())

Потребление памяти меньше на - 12.4 Мб (минус 71.2%)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175680 entries, 0 to 175679
Data columns (total 13 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   timestamp               175680 non-null  datetime64[ns]
 1   building_id             175680 non-null  int8
 2   meter_reading           175680 non-null  float16
 3   primary_use             175680 non-null  category
 4   air_temperature         175680 non-null  float16
 5   cloud_coverage          175680 non-null  float16
 6   dew_temperature         175680 non-null  float16
 7   precip_depth_1_hr       175680 non-null  float16
 8   sea_level_pressure      175680 non-null  float16
 9   wind_direction          175680 non-null  float16
 10  wind_speed              175680 non-null  float16
 11  air_temperature_diff_1  175680 non-null  float16
 12  air_temperature_diff_2  175680 non-null  float16
dtypes: category(1), datetime64[ns](1), float16(10), int8(1)
memory usage: 5.0 MB
None

## Обогащение данных: дата

In [7]:
energy["hour"] = energy["timestamp"].dt.hour.astype("int8")
energy["weekday"] = energy["timestamp"].dt.weekday.astype("int8")
energy["week"] = energy["timestamp"].dt.isocalendar().week.astype("int8")
energy["month"] = energy["timestamp"].dt.month.astype("int8")
energy["date"] = pd.to_datetime(energy["timestamp"].dt.date)

dates_range = pd.date_range(start="2015-12-31", end="2017-01-01")
us_holidays = calendar().holidays(start=dates_range.min(), end=dates_range.max())
energy["is_holiday"] = energy["date"].isin(us_holidays).astype("int8")

for weekday in range(0, 7):
    energy[f"is_wday {str(weekday)}"] = energy["weekday"].isin([weekday]).astype("int8")
for week in range(1, 54):
    energy[f"is_w {str(week)}"] = energy["week"].isin([week]).astype("int8")
for month in range(1, 13):
    energy[f"is_m {str(month)}"] = energy["month"].isin([month]).astype("int8")

## Логарифмирование данных

In [8]:
energy["meter_reading_log"] = np.log(energy["meter_reading"] + 1)

## Экспорт в CSV

In [9]:
print(energy.info())
energy.to_csv("../data/out/energy.0-20.csv.gz", index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175680 entries, 0 to 175679
Data columns (total 92 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   timestamp               175680 non-null  datetime64[ns]
 1   building_id             175680 non-null  int8
 2   meter_reading           175680 non-null  float16
 3   primary_use             175680 non-null  category
 4   air_temperature         175680 non-null  float16
 5   cloud_coverage          175680 non-null  float16
 6   dew_temperature         175680 non-null  float16
 7   precip_depth_1_hr       175680 non-null  float16
 8   sea_level_pressure      175680 non-null  float16
 9   wind_direction          175680 non-null  float16
 10  wind_speed              175680 non-null  float16
 11  air_temperature_diff_1  175680 non-null  float16
 12  air_temperature_diff_2  175680 non-null  float16
 13  hour                    175680 non-null  int8
 14  weekday                 175680 non-null  int8
 15  week                    175680 non-null  int8
 16  month                   175680 non-null  int8
 17  date                    175680 non-null  datetime64[ns]
 18  is_holiday              175680 non-null  int8
 19  is_wday 0               175680 non-null  int8
 20  is_wday 1               175680 non-null  int8
 21  is_wday 2               175680 non-null  int8
 22  is_wday 3               175680 non-null  int8
 23  is_wday 4               175680 non-null  int8
 24  is_wday 5               175680 non-null  int8
 25  is_wday 6               175680 non-null  int8
 26  is_w 1                  175680 non-null  int8
 27  is_w 2                  175680 non-null  int8
 28  is_w 3                  175680 non-null  int8
 29  is_w 4                  175680 non-null  int8
 30  is_w 5                  175680 non-null  int8
 31  is_w 6                  175680 non-null  int8
 32  is_w 7                  175680 non-null  int8
 33  is_w 8                  175680 non-null  int8
 34  is_w 9                  175680 non-null  int8
 35  is_w 10                 175680 non-null  int8
 36  is_w 11                 175680 non-null  int8
 37  is_w 12                 175680 non-null  int8
 38  is_w 13                 175680 non-null  int8
 39  is_w 14                 175680 non-null  int8
 40  is_w 15                 175680 non-null  int8
 41  is_w 16                 175680 non-null  int8
 42  is_w 17                 175680 non-null  int8
 43  is_w 18                 175680 non-null  int8
 44  is_w 19                 175680 non-null  int8
 45  is_w 20                 175680 non-null  int8
 46  is_w 21                 175680 non-null  int8
 47  is_w 22                 175680 non-null  int8
 48  is_w 23                 175680 non-null  int8
 49  is_w 24                 175680 non-null  int8
 50  is_w 25                 175680 non-null  int8
 51  is_w 26                 175680 non-null  int8
 52  is_w 27                 175680 non-null  int8
 53  is_w 28                 175680 non-null  int8
 54  is_w 29                 175680 non-null  int8
 55  is_w 30                 175680 non-null  int8
 56  is_w 31                 175680 non-null  int8
 57  is_w 32                 175680 non-null  int8
 58  is_w 33                 175680 non-null  int8
 59  is_w 34                 175680 non-null  int8
 60  is_w 35                 175680 non-null  int8
 61  is_w 36                 175680 non-null  int8
 62  is_w 37                 175680 non-null  int8
 63  is_w 38                 175680 non-null  int8
 64  is_w 39                 175680 non-null  int8
 65  is_w 40                 175680 non-null  int8
 66  is_w 41                 175680 non-null  int8
 67  is_w 42                 175680 non-null  int8
 68  is_w 43                 175680 non-null  int8
 69  is_w 44                 175680 non-null  int8
 70  is_w 45                 175680 non-null  int8
 71  is_w 46                 175680 non-null  int8
 72  is_w 47                 175680 non-null  int8
 73  is_w 48                 175680 non-null  int8
 74  is_w 49                 175680 non-null  int8
 75  is_w 50                 175680 non-null  int8
 76  is_w 51                 175680 non-null  int8
 77  is_w 52                 175680 non-null  int8
 78  is_w 53                 175680 non-null  int8
 79  is_m 1                  175680 non-null  int8
 80  is_m 2                  175680 non-null  int8
 81  is_m 3                  175680 non-null  int8
 82  is_m 4                  175680 non-null  int8
 83  is_m 5                  175680 non-null  int8
 84  is_m 6                  175680 non-null  int8
 85  is_m 7                  175680 non-null  int8
 86  is_m 8                  175680 non-null  int8
 87  is_m 9                  175680 non-null  int8
 88  is_m 10                 175680 non-null  int8
 89  is_m 11                 175680 non-null  int8
 90  is_m 12                 175680 non-null  int8
 91  meter_reading_log       175680 non-null  float16
dtypes: category(1), datetime64[ns](2), float16(11), int8(78)
memory usage: 19.6 MB
None

In [10]:
energy = pd.read_csv("../data/out/energy.0-20.csv.gz")
print(energy.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175680 entries, 0 to 175679
Data columns (total 92 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   timestamp               175680 non-null  object
 1   building_id             175680 non-null  int64
 2   meter_reading           175680 non-null  float64
 3   primary_use             175680 non-null  object
 4   air_temperature         175680 non-null  float64
 5   cloud_coverage          175680 non-null  float64
 6   dew_temperature         175680 non-null  float64
 7   precip_depth_1_hr       175680 non-null  float64
 8   sea_level_pressure      175680 non-null  float64
 9   wind_direction          175680 non-null  float64
 10  wind_speed              175680 non-null  float64
 11  air_temperature_diff_1  175680 non-null  float64
 12  air_temperature_diff_2  175680 non-null  float64
 13  hour                    175680 non-null  int64
 14  weekday                 175680 non-null  int64
 15  week                    175680 non-null  int64
 16  month                   175680 non-null  int64
 17  date                    175680 non-null  object
 18  is_holiday              175680 non-null  int64
 19  is_wday 0               175680 non-null  int64
 20  is_wday 1               175680 non-null  int64
 21  is_wday 2               175680 non-null  int64
 22  is_wday 3               175680 non-null  int64
 23  is_wday 4               175680 non-null  int64
 24  is_wday 5               175680 non-null  int64
 25  is_wday 6               175680 non-null  int64
 26  is_w 1                  175680 non-null  int64
 27  is_w 2                  175680 non-null  int64
 28  is_w 3                  175680 non-null  int64
 29  is_w 4                  175680 non-null  int64
 30  is_w 5                  175680 non-null  int64
 31  is_w 6                  175680 non-null  int64
 32  is_w 7                  175680 non-null  int64
 33  is_w 8                  175680 non-null  int64
 34  is_w 9                  175680 non-null  int64
 35  is_w 10                 175680 non-null  int64
 36  is_w 11                 175680 non-null  int64
 37  is_w 12                 175680 non-null  int64
 38  is_w 13                 175680 non-null  int64
 39  is_w 14                 175680 non-null  int64
 40  is_w 15                 175680 non-null  int64
 41  is_w 16                 175680 non-null  int64
 42  is_w 17                 175680 non-null  int64
 43  is_w 18                 175680 non-null  int64
 44  is_w 19                 175680 non-null  int64
 45  is_w 20                 175680 non-null  int64
 46  is_w 21                 175680 non-null  int64
 47  is_w 22                 175680 non-null  int64
 48  is_w 23                 175680 non-null  int64
 49  is_w 24                 175680 non-null  int64
 50  is_w 25                 175680 non-null  int64
 51  is_w 26                 175680 non-null  int64
 52  is_w 27                 175680 non-null  int64
 53  is_w 28                 175680 non-null  int64
 54  is_w 29                 175680 non-null  int64
 55  is_w 30                 175680 non-null  int64
 56  is_w 31                 175680 non-null  int64
 57  is_w 32                 175680 non-null  int64
 58  is_w 33                 175680 non-null  int64
 59  is_w 34                 175680 non-null  int64
 60  is_w 35                 175680 non-null  int64
 61  is_w 36                 175680 non-null  int64
 62  is_w 37                 175680 non-null  int64
 63  is_w 38                 175680 non-null  int64
 64  is_w 39                 175680 non-null  int64
 65  is_w 40                 175680 non-null  int64
 66  is_w 41                 175680 non-null  int64
 67  is_w 42                 175680 non-null  int64
 68  is_w 43                 175680 non-null  int64
 69  is_w 44                 175680 non-null  int64
 70  is_w 45                 175680 non-null  int64
 71  is_w 46                 175680 non-null  int64
 72  is_w 47                 175680 non-null  int64
 73  is_w 48                 175680 non-null  int64
 74  is_w 49                 175680 non-null  int64
 75  is_w 50                 175680 non-null  int64
 76  is_w 51                 175680 non-null  int64
 77  is_w 52                 175680 non-null  int64
 78  is_w 53                 175680 non-null  int64
 79  is_m 1                  175680 non-null  int64
 80  is_m 2                  175680 non-null  int64
 81  is_m 3                  175680 non-null  int64
 82  is_m 4                  175680 non-null  int64
 83  is_m 5                  175680 non-null  int64
 84  is_m 6                  175680 non-null  int64
 85  is_m 7                  175680 non-null  int64
 86  is_m 8                  175680 non-null  int64
 87  is_m 9                  175680 non-null  int64
 88  is_m 10                 175680 non-null  int64
 89  is_m 11                 175680 non-null  int64
 90  is_m 12                 175680 non-null  int64
 91  meter_reading_log       175680 non-null  float64
dtypes: float64(11), int64(78), object(3)
memory usage: 123.3+ MB
None

## Экспорт в HDF5

In [11]:
energy = reduce_mem_usage(energy)
energy.to_hdf(
    "../data/out/energy.0-20.h5",
    key="energy",
    format="table",
    complib="zlib",
    complevel=9,
    mode="w"
)

Потребление памяти меньше на - 104.7 Мб (минус 84.9%)

In [12]:
print(f"CSV: {getsize('../data/out/energy.0-20.csv.gz')}")
print(f"HDF5: {getsize('../data/out/energy.0-20.h5')}")

CSV: 1529687
HDF5: 861608

In [13]:
energy = pd.read_hdf("../data/out/energy.0-20.h5", "energy")
print(energy.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 175680 entries, 0 to 175679
Data columns (total 92 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   timestamp               175680 non-null  datetime64[ns]
 1   building_id             175680 non-null  int8
 2   meter_reading           175680 non-null  float16
 3   primary_use             175680 non-null  category
 4   air_temperature         175680 non-null  float16
 5   cloud_coverage          175680 non-null  float16
 6   dew_temperature         175680 non-null  float16
 7   precip_depth_1_hr       175680 non-null  float16
 8   sea_level_pressure      175680 non-null  float16
 9   wind_direction          175680 non-null  float16
 10  wind_speed              175680 non-null  float16
 11  air_temperature_diff_1  175680 non-null  float16
 12  air_temperature_diff_2  175680 non-null  float16
 13  hour                    175680 non-null  int8
 14  weekday                 175680 non-null  int8
 15  week                    175680 non-null  int8
 16  month                   175680 non-null  int8
 17  date                    175680 non-null  category
 18  is_holiday              175680 non-null  int8
 19  is_wday 0               175680 non-null  int8
 20  is_wday 1               175680 non-null  int8
 21  is_wday 2               175680 non-null  int8
 22  is_wday 3               175680 non-null  int8
 23  is_wday 4               175680 non-null  int8
 24  is_wday 5               175680 non-null  int8
 25  is_wday 6               175680 non-null  int8
 26  is_w 1                  175680 non-null  int8
 27  is_w 2                  175680 non-null  int8
 28  is_w 3                  175680 non-null  int8
 29  is_w 4                  175680 non-null  int8
 30  is_w 5                  175680 non-null  int8
 31  is_w 6                  175680 non-null  int8
 32  is_w 7                  175680 non-null  int8
 33  is_w 8                  175680 non-null  int8
 34  is_w 9                  175680 non-null  int8
 35  is_w 10                 175680 non-null  int8
 36  is_w 11                 175680 non-null  int8
 37  is_w 12                 175680 non-null  int8
 38  is_w 13                 175680 non-null  int8
 39  is_w 14                 175680 non-null  int8
 40  is_w 15                 175680 non-null  int8
 41  is_w 16                 175680 non-null  int8
 42  is_w 17                 175680 non-null  int8
 43  is_w 18                 175680 non-null  int8
 44  is_w 19                 175680 non-null  int8
 45  is_w 20                 175680 non-null  int8
 46  is_w 21                 175680 non-null  int8
 47  is_w 22                 175680 non-null  int8
 48  is_w 23                 175680 non-null  int8
 49  is_w 24                 175680 non-null  int8
 50  is_w 25                 175680 non-null  int8
 51  is_w 26                 175680 non-null  int8
 52  is_w 27                 175680 non-null  int8
 53  is_w 28                 175680 non-null  int8
 54  is_w 29                 175680 non-null  int8
 55  is_w 30                 175680 non-null  int8
 56  is_w 31                 175680 non-null  int8
 57  is_w 32                 175680 non-null  int8
 58  is_w 33                 175680 non-null  int8
 59  is_w 34                 175680 non-null  int8
 60  is_w 35                 175680 non-null  int8
 61  is_w 36                 175680 non-null  int8
 62  is_w 37                 175680 non-null  int8
 63  is_w 38                 175680 non-null  int8
 64  is_w 39                 175680 non-null  int8
 65  is_w 40                 175680 non-null  int8
 66  is_w 41                 175680 non-null  int8
 67  is_w 42                 175680 non-null  int8
 68  is_w 43                 175680 non-null  int8
 69  is_w 44                 175680 non-null  int8
 70  is_w 45                 175680 non-null  int8
 71  is_w 46                 175680 non-null  int8
 72  is_w 47                 175680 non-null  int8
 73  is_w 48                 175680 non-null  int8
 74  is_w 49                 175680 non-null  int8
 75  is_w 50                 175680 non-null  int8
 76  is_w 51                 175680 non-null  int8
 77  is_w 52                 175680 non-null  int8
 78  is_w 53                 175680 non-null  int8
 79  is_m 1                  175680 non-null  int8
 80  is_m 2                  175680 non-null  int8
 81  is_m 3                  175680 non-null  int8
 82  is_m 4                  175680 non-null  int8
 83  is_m 5                  175680 non-null  int8
 84  is_m 6                  175680 non-null  int8
 85  is_m 7                  175680 non-null  int8
 86  is_m 8                  175680 non-null  int8
 87  is_m 9                  175680 non-null  int8
 88  is_m 10                 175680 non-null  int8
 89  is_m 11                 175680 non-null  int8
 90  is_m 12                 175680 non-null  int8
 91  meter_reading_log       175680 non-null  float16
dtypes: category(2), datetime64[ns](1), float16(11), int8(78)
memory usage: 19.9 MB
None

## Разделение данных

In [14]:
energy_train, energy_test = train_test_split(energy[energy["meter_reading"] > 0], test_size=0.2)
print(energy_train.head())

                 timestamp  building_id  meter_reading          primary_use  \
109797 2016-08-16 17:00:00           17      68.375000               Office
94205  2016-07-15 06:00:00            5      29.015625            Education
127591 2016-09-22 19:00:00           11     497.000000            Education
147412 2016-11-03 02:00:00           12     258.250000  Lodging/residential
128661 2016-09-25 01:00:00            1     136.250000            Education

        air_temperature  cloud_coverage  dew_temperature  precip_depth_1_hr  \
109797        30.000000        6.667969        24.000000               36.0
94205         25.000000        2.000000        22.796875                0.0
127591        31.703125        4.000000        21.703125                0.0
147412        21.703125        4.667969        17.796875                0.0
128661        26.703125        6.000000        23.296875                0.0

        sea_level_pressure  wind_direction  ...  is_m 4  is_m 5  is_m 6  \
109797              1021.0           300.0  ...       0       0       0
94205               1019.0           150.0  ...       0       0       0
127591              1014.0           240.0  ...       0       0       0
147412              1022.5            30.0  ...       0       0       0
128661              1017.0           120.0  ...       0       0       0

        is_m 7  is_m 8  is_m 9  is_m 10 is_m 11  is_m 12  meter_reading_log
109797       0       1       0        0       0        0           4.238281
94205        1       0       0        0       0        0           3.402344
127591       0       0       1        0       0        0           6.210938
147412       0       0       0        0       1        0           5.558594
128661       0       0       1        0       0        0           4.921875

[5 rows x 92 columns]

In [15]:
pd.set_option("io.hdf.default_format", "table")
store = pd.HDFStore("../data/out/energy.0-20.split.h5",
                    complevel=9,
                    complib="zlib",
                    mode="w",
                    )
store["energy_train"] = energy_train
store["energy_test"] = energy_test
store.put("metadata",
          pd.Series(["Набор обогащенных тестовых данных по 20 зданиям"]))
store.close()

In [16]:
print(f"HDF5: {getsize('../data/out/energy.0-20.split.h5')}")

HDF5: 3878532

## Чтение из HDF5

In [17]:
store = pd.HDFStore("../data/out/energy.0-20.split.h5")
energy_test = store.get("energy_test")[:]
energy_train = store.get("energy_train")[:]
metadata = store.get("metadata")[:]
store.close()
print(metadata[0])
print(energy_train.head())

Набор обогащенных тестовых данных по 20 зданиям
                 timestamp  building_id  meter_reading          primary_use  \
109797 2016-08-16 17:00:00           17      68.375000               Office
94205  2016-07-15 06:00:00            5      29.015625            Education
127591 2016-09-22 19:00:00           11     497.000000            Education
147412 2016-11-03 02:00:00           12     258.250000  Lodging/residential
128661 2016-09-25 01:00:00            1     136.250000            Education

        air_temperature  cloud_coverage  dew_temperature  precip_depth_1_hr  \
109797        30.000000        6.667969        24.000000               36.0
94205         25.000000        2.000000        22.796875                0.0
127591        31.703125        4.000000        21.703125                0.0
147412        21.703125        4.667969        17.796875                0.0
128661        26.703125        6.000000        23.296875                0.0

        sea_level_pressure  wind_direction  ...  is_m 4  is_m 5  is_m 6  \
109797              1021.0           300.0  ...       0       0       0
94205               1019.0           150.0  ...       0       0       0
127591              1014.0           240.0  ...       0       0       0
147412              1022.5            30.0  ...       0       0       0
128661              1017.0           120.0  ...       0       0       0

        is_m 7  is_m 8  is_m 9  is_m 10 is_m 11  is_m 12  meter_reading_log
109797       0       1       0        0       0        0           4.238281
94205        1       0       0        0       0        0           3.402344
127591       0       0       1        0       0        0           6.210938
147412       0       0       0        0       1        0           5.558594
128661       0       0       1        0       0        0           4.921875

[5 rows x 92 columns]